@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@media print {
  body * {
    visibility: hidden;
  }
  #resume-preview,
  #resume-preview * {
    visibility: visible;
  }
  #resume-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
